
.solutions__title {
  max-width: 400px;
  margin-bottom: 30px;
}

.section__text--big {
  color: #f14848;
  font-family: "TT Barrels", sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: $media-laptop) {
  .solutions {
    padding-bottom: 80px;
  }
}

@media (max-width: $media-mobile) {
  .solutions__title {
    max-width: 410px;
    margin-bottom: 50px;
  }
}
