.step {
  padding: 5px;
  width: 100%;
  height: 100%;
  max-width: 255px;
  max-height: 260px;
  background-color: $color-pure-white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.step-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.step__inner {
  height: 100%;
}

.step__title {
  color: $color-pure-blue;
  font-family: "TT Barrels", sans-serif;
  font-style: italic;
  font-size: 34px;
  font-weight: 600;
  line-height: 34px;
}

.step__btn {
  @include reset-btn();
  padding: 8px 50px;
  background-color: $color-pure-white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.step__btn-wrapper {
  display: flex;
  justify-content: center;
}

.step__link {
  opacity: 0.8;
  color: $color-pure-white;
  font-family: "TT Barrels", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  line-height: 10px;
  text-decoration: underline;
  margin-top: 30px;
}

@media (max-width: $media-mobile) {
  .step {
    max-width: 300px;
  }
}
