.deal {
  padding: 10px;
  max-width: 445px;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: $color-pure-white;
  margin-left: auto;
}

.deal__container {
  border-radius: 10px;
  margin-right: unset;
  padding: 5px;
  border: 2px dashed $color-gray-white;
}

.deal__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;
  background-color: $color-pure-white;
  border-radius: 8px;
  margin-right: 10px;
  height: unset;
}

.deal__btn {
  margin-top: auto;
  text-transform: unset;
}

.deal__title {
  text-align: center;
  color: $color-light-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.deal__text {
  text-align: center;
  color: $color-pure-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.deal__price-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.deal__price-title {
  font-family: "TT Barrels", sans-serif;
  font-style: italic;
  color: $color-pure-blue;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
}

.deal__price__subtitle {
  color: $color-pure-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.deal__pagination-btn {
  @include reset-btn();
  text-align: unset;
  position: relative;
  padding-left: 40px;
  outline: none;
  color: $color-pure-gray-3;

  &::before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    min-width: 20px;
    height: 2px;
    background-color: $color-gray-white-3;
  }
}

.deal__pagination-btn--active {
  color: $color-light-black;
  pointer-events: none;

  &::before {
    background-color: $color-pure-blue;
  }
}

@media (max-width: $media-mobile) {
  .deal {
    max-width: 350px;
    width: 100%;
    margin-right: auto;
  }

  .deal__title {
    font-size: 16px;
  }

  .deal__text {
    font-size: 12px;
  }

  .deal__price-title {
    font-size: 28px;
  }

  .deal__price__subtitle {
    font-size: 12px;
  }

  .deal-pagination {
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
