$color-pure-blue: #485cf1;
$color-pure-gray: #656565;
$color-pure-gray-3: #767676;
$color-pure-white: #ffffff;
$color-light-black: #333333;
$color-pure-black: #000000;
$color-gray-white: #e0e0e0;
$color-light-gray: #9d9d9d;
$color-midnight-blue: #050e1c;
$color-pure-blue-2: #3166f9;
$color-pure-white-2: #fbfbfb;
$color-pure-gray-2: #969696;
$color-gray-white-3: #c6c6c6;
$color-pure-blue-3: #6d7cef;
$color-gray-white-2: #d8d8d8;
