.section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $color-pure-white;
  overflow: hidden;
  background-size: cover;
}

.section__row {
  justify-content: flex-end;
}

.section__title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 75px;
  position: relative;

  &::before {
    content: attr(data-letter);
    display: block;
    position: absolute;
    font-family: "TT Barrels", sans-serif;
    font-weight: 600;
    font-size: 200px;
    opacity: 0.05;
    color: $color-light-black;
    right: 100%;
    top: -50%;
  }
}

.section__title--bg {
  &::before {
    color: $color-pure-white;
    transform: unset;
    left: 0;
    right: unset;
  }
}

.section__title--flex {
  display: flex;

  &::before {
    position: unset;
  }
}

.section__text {
  color: $color-pure-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 350px;
  margin-bottom: 25px;
}

.section__list {
  @include reset-list();
}

.section__list-item {
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: $media-desktop) {
  .section__title {
    font-size: 30px;
  }

  .section__list {
    font-size: 14px;
  }

  .section__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: $media-laptop) {
  .section__title {
    &::before {
      content: "";
    }
  }
}

@media (max-width: $media-mobile) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section__title {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .section__list {
    display: none;
  }

  .section__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
